
config={_id:"{{ mongodb_replSet }}",members:[{
{%- for value in groups.all -%}
_id:{{ loop.index0 }},host:'{{ value }}',priority:{{ 100-loop.index0 }}{%- if not loop.last -%}},{ {%- endif -%}
{%- endfor -%}}]};

rs.initiate(config);